.mySwiper {
  width: 100%;
}

.mySwiperSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: none;
  position: relative;
}

.mySwiperSlider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: inherit;
  z-index: 2;
  pointer-events: none;
}

.mySwiperSlider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 1;
  pointer-events: none;
}

.mySwiperSlider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-headers {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 3;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

.product-headers span {
  font-size: 48px;
  font-weight: bold;
}

.product-headers p {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .towelTypes {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
  
.product-headers span {
  font-size: 24px;
  font-weight: bold;
}
}

@media (min-width: 767px) and (max-width: 991px) {
  .towelTypes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
}
